body {
    font-family: 'Proxima Nova', sans-serif;
    
}
nav {
    height: 100px;
    padding: 10px;

    

   
    }

    h1 {
        border-bottom: 1px solid grey;
    }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
  }

  ul a {
      text-decoration: none;
  }
  
  li {
  
    position: relative; /* so we can absolutely position the ::before and ::after overlays (arrows) */
    margin-right: 18px; /* space them out */
    padding: 10px 19px 11px 40px;
    background-color: #A6CC45;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px; /* space the letters a bit more */
    text-align: center;
    cursor: pointer;
    
  }
  li:hover {
     
      color: black;
      cursor: pointer;
  }
  li::before {
      content: ''; /* NEED a content attribute or element content won't exist and element will be "blank!" */
    position: absolute; /* to overlay on top of <li> */
    top: 0; /* align at top */
    left: 0; /* align to far left of each nav item */
    width: 0; /* remember this? */
    height: 0; /* remember this? */
    border: 21px solid transparent; /* border all sides */
    border-left: 21px solid #fff; /* override left border */
    
  }
  li::after {
    content: ''; /* NEED a content attribute or element content won't exist and element will be "blank!" */
    position: absolute; /* to overlay on top of <li> */
    top: 0px; /* align to top */
    right: -43px; /* put 40px OUTSIDE of the right edge of each nav item; hence negative values */
    width: 0; /* remember this? */
    height: 0; /* remember this? */
    border: 22px solid transparent; /* border all sides */
    border-left: 22px solid #A6CC45; /* override left border */
  }

  li::after:hover {
      background-color: white;
  }
  


  .wrapperMain {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 0.8fr 0.5fr 1fr;
      grid-gap: 20px;
      padding-left: 20px;

  }
  .wrapperMain2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-gap: 20px;

}


#ic4 {
    text-align: center;
    padding-top: 30px;
}


.ic {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px lightgray solid;
    width: 180px;
  margin-bottom: 50px;
  margin-left: 50px;

  -webkit-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
}


.ic:hover {
    border: 2px #A6CC45 solid;
}
  .payment {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 3fr;
      grid-gap: 30px;
     
  }


  .account {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr;
      -webkit-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
  box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
  }

  .delivery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-gap: 30px;
    
}



  .order {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr;;
    
    -webkit-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
-moz-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
}

  .order, .account, .payment {
      border: none;

  }



  h5 {
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
     grid-area: heading;
     text-align: center;

  }

  h6 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 15px;
  }
 
  .ord1 {
      display: grid;
      grid-template-columns: 6fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      text-align: center;
      
  }

  .ord2 {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
        text-align: center;
    border-top: 1px lightgray solid;
    
}
  


  .imgicon {
      height: 80px;
      width: 100px;
      position: relative;
      right: -4em;
  
      

  }
  .imgicon1 {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    
   
    grid-area: img;
    

}
.imgicon2 {
    height: 100px;
    width: 100px;
    
    align-content: center;
    
   
 
    

}

  .icon1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      
      align-items: center;
      -webkit-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
      -moz-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
      box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
  }

  .icon1:hover {
      border: #A6CC45 3px solid;
  }

  .icon2 {
    display: grid;
   grid-template-areas: "img heading heading"
                        "img text text";

    
   
    -webkit-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
    box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
}

.icon2:hover {
    border: #A6CC45 3px solid;
}


.icon3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    align-items: center;
    -webkit-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
    box-shadow: 6px 8px 19px -2px rgba(0, 0, 0, 0.32);
}

.icon3:hover {
    border: #A6CC45 3px solid;
}



  h3 {
text-align: right;
font-weight: bold;
font-family: 'Montserrat', sans-serif;

font-size: 15px;
  }


  .name1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  }